.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.container-sideBar-content {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-content {
  padding-left: 1rem;
}