@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.custom-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.custom-forms-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.custom-form-steps {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.custom-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.custom-title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.custom-sections-container {
  position: relative;
  width: 100%;
}

.custom-section {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.custom-section.custom-active {
  opacity: 1;
  transform: translateX(0);
}

.custom-section.custom-inactive {
  opacity: 0;
  transform: translateX(100%);
}

.custom-navigation-buttons {
  text-align: center;
  margin-top: 20px;
}

.custom-btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.custom-btn:hover {
  background-color: #4d84e2;
}

.custom-btn-transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.custom-panels-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.custom-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #00162b 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.custom-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.custom-left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.custom-right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.custom-panel-content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.custom-panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.custom-panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/* Responsive Design */
@media (max-width: 870px) {
  .custom-container {
    min-height: 800px;
    height: 100vh;
  }
  .custom-form-steps {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .custom-panels-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .custom-panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .custom-right-panel {
    grid-row: 3 / 4;
  }

  .custom-left-panel {
    grid-row: 1 / 2;
  }

  .custom-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
}

@media (max-width: 570px) {
  .custom-form {
    padding: 0 1.5rem;
  }

  .custom-container {
    padding: 1.5rem;
  }

  .custom-container:before {
    bottom: 72%;
    left: 50%;
  }
}